<app-time-zone [timeZoneString]="timezones[1]" (changeTimeZone)="setTimeZone($event)" [disabledBtn]="timeZoneString===timezones[1]" />
<app-time-zone [timeZoneString]="timezones[7]" (changeTimeZone)="setTimeZone($event)" [disabledBtn]="timeZoneString===timezones[7]"/>
<app-time-zone [timeZoneString]="timezones[10]" (changeTimeZone)="setTimeZone($event)" [disabledBtn]="timeZoneString===timezones[10] "/>
<app-time-zone [timeZoneString]="timezones[2]" (changeTimeZone)="setTimeZone($event)" [disabledBtn]="timeZoneString===timezones[2]"/>